<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.ses.dao.interfaces.SesAgentConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="agent_cmd" property="agentCmd" jdbcType="VARCHAR" />
    <result column="agent_file" property="agentFile" jdbcType="VARCHAR" />
    <result column="user_path" property="userPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, agent_cmd, agent_file, user_path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfigCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ses_agent_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from ses_agent_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from ses_agent_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfigCriteria" >
    delete from ses_agent_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfig" >
    insert into ses_agent_config (id, agent_cmd, agent_file, 
      user_path)
    values (#{id,jdbcType=INTEGER}, #{agentCmd,jdbcType=VARCHAR}, #{agentFile,jdbcType=VARCHAR}, 
      #{userPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfig" >
    insert into ses_agent_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agentCmd != null" >
        agent_cmd,
      </if>
      <if test="agentFile != null" >
        agent_file,
      </if>
      <if test="userPath != null" >
        user_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agentCmd != null" >
        #{agentCmd,jdbcType=VARCHAR},
      </if>
      <if test="agentFile != null" >
        #{agentFile,jdbcType=VARCHAR},
      </if>
      <if test="userPath != null" >
        #{userPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfigCriteria" resultType="java.lang.Integer" >
    select count(*) from ses_agent_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ses_agent_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.agentCmd != null" >
        agent_cmd = #{record.agentCmd,jdbcType=VARCHAR},
      </if>
      <if test="record.agentFile != null" >
        agent_file = #{record.agentFile,jdbcType=VARCHAR},
      </if>
      <if test="record.userPath != null" >
        user_path = #{record.userPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ses_agent_config
    set id = #{record.id,jdbcType=INTEGER},
      agent_cmd = #{record.agentCmd,jdbcType=VARCHAR},
      agent_file = #{record.agentFile,jdbcType=VARCHAR},
      user_path = #{record.userPath,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfig" >
    update ses_agent_config
    <set >
      <if test="agentCmd != null" >
        agent_cmd = #{agentCmd,jdbcType=VARCHAR},
      </if>
      <if test="agentFile != null" >
        agent_file = #{agentFile,jdbcType=VARCHAR},
      </if>
      <if test="userPath != null" >
        user_path = #{userPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesAgentConfig" >
    update ses_agent_config
    set agent_cmd = #{agentCmd,jdbcType=VARCHAR},
      agent_file = #{agentFile,jdbcType=VARCHAR},
      user_path = #{userPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>