<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.ses.dao.interfaces.SesResourcePoolMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePool" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="host_ip" property="hostIp" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="port_min" property="portMin" jdbcType="INTEGER" />
    <result column="port_max" property="portMax" jdbcType="INTEGER" />
    <result column="mem_total" property="memTotal" jdbcType="INTEGER" />
    <result column="mem_used" property="memUsed" jdbcType="INTEGER" />
    <result column="agent_port" property="agentPort" jdbcType="INTEGER" />
    <result column="bin_path" property="binPath" jdbcType="VARCHAR" />
    <result column="user_path" property="userPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, host_ip, status, port_min, port_max, mem_total, mem_used, agent_port, bin_path, 
    user_path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePoolCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ses_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from ses_resource_pool
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from ses_resource_pool
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePoolCriteria" >
    delete from ses_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePool" >
    insert into ses_resource_pool (id, host_ip, status, 
      port_min, port_max, mem_total, 
      mem_used, agent_port, bin_path, 
      user_path)
    values (#{id,jdbcType=INTEGER}, #{hostIp,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{portMin,jdbcType=INTEGER}, #{portMax,jdbcType=INTEGER}, #{memTotal,jdbcType=INTEGER}, 
      #{memUsed,jdbcType=INTEGER}, #{agentPort,jdbcType=INTEGER}, #{binPath,jdbcType=VARCHAR}, 
      #{userPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePool" >
    insert into ses_resource_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hostIp != null" >
        host_ip,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="portMin != null" >
        port_min,
      </if>
      <if test="portMax != null" >
        port_max,
      </if>
      <if test="memTotal != null" >
        mem_total,
      </if>
      <if test="memUsed != null" >
        mem_used,
      </if>
      <if test="agentPort != null" >
        agent_port,
      </if>
      <if test="binPath != null" >
        bin_path,
      </if>
      <if test="userPath != null" >
        user_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hostIp != null" >
        #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="portMin != null" >
        #{portMin,jdbcType=INTEGER},
      </if>
      <if test="portMax != null" >
        #{portMax,jdbcType=INTEGER},
      </if>
      <if test="memTotal != null" >
        #{memTotal,jdbcType=INTEGER},
      </if>
      <if test="memUsed != null" >
        #{memUsed,jdbcType=INTEGER},
      </if>
      <if test="agentPort != null" >
        #{agentPort,jdbcType=INTEGER},
      </if>
      <if test="binPath != null" >
        #{binPath,jdbcType=VARCHAR},
      </if>
      <if test="userPath != null" >
        #{userPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePoolCriteria" resultType="java.lang.Integer" >
    select count(*) from ses_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ses_resource_pool
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hostIp != null" >
        host_ip = #{record.hostIp,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.portMin != null" >
        port_min = #{record.portMin,jdbcType=INTEGER},
      </if>
      <if test="record.portMax != null" >
        port_max = #{record.portMax,jdbcType=INTEGER},
      </if>
      <if test="record.memTotal != null" >
        mem_total = #{record.memTotal,jdbcType=INTEGER},
      </if>
      <if test="record.memUsed != null" >
        mem_used = #{record.memUsed,jdbcType=INTEGER},
      </if>
      <if test="record.agentPort != null" >
        agent_port = #{record.agentPort,jdbcType=INTEGER},
      </if>
      <if test="record.binPath != null" >
        bin_path = #{record.binPath,jdbcType=VARCHAR},
      </if>
      <if test="record.userPath != null" >
        user_path = #{record.userPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ses_resource_pool
    set id = #{record.id,jdbcType=INTEGER},
      host_ip = #{record.hostIp,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      port_min = #{record.portMin,jdbcType=INTEGER},
      port_max = #{record.portMax,jdbcType=INTEGER},
      mem_total = #{record.memTotal,jdbcType=INTEGER},
      mem_used = #{record.memUsed,jdbcType=INTEGER},
      agent_port = #{record.agentPort,jdbcType=INTEGER},
      bin_path = #{record.binPath,jdbcType=VARCHAR},
      user_path = #{record.userPath,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePool" >
    update ses_resource_pool
    <set >
      <if test="hostIp != null" >
        host_ip = #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="portMin != null" >
        port_min = #{portMin,jdbcType=INTEGER},
      </if>
      <if test="portMax != null" >
        port_max = #{portMax,jdbcType=INTEGER},
      </if>
      <if test="memTotal != null" >
        mem_total = #{memTotal,jdbcType=INTEGER},
      </if>
      <if test="memUsed != null" >
        mem_used = #{memUsed,jdbcType=INTEGER},
      </if>
      <if test="agentPort != null" >
        agent_port = #{agentPort,jdbcType=INTEGER},
      </if>
      <if test="binPath != null" >
        bin_path = #{binPath,jdbcType=VARCHAR},
      </if>
      <if test="userPath != null" >
        user_path = #{userPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.ses.dao.mapper.bo.SesResourcePool" >
    update ses_resource_pool
    set host_ip = #{hostIp,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      port_min = #{portMin,jdbcType=INTEGER},
      port_max = #{portMax,jdbcType=INTEGER},
      mem_total = #{memTotal,jdbcType=INTEGER},
      mem_used = #{memUsed,jdbcType=INTEGER},
      agent_port = #{agentPort,jdbcType=INTEGER},
      bin_path = #{binPath,jdbcType=VARCHAR},
      user_path = #{userPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>