<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.base.dao.interfaces.IpaasSysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_code" property="tableCode" jdbcType="VARCHAR" />
    <result column="field_code" property="fieldCode" jdbcType="VARCHAR" />
    <result column="field_value" property="fieldValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, table_code, field_code, field_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfigCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ipaas_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipaas_sys_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from ipaas_sys_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfigCriteria" >
    delete from ipaas_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfig" >
    insert into ipaas_sys_config (id, table_code, field_code, 
      field_value)
    values (#{id,jdbcType=INTEGER}, #{tableCode,jdbcType=VARCHAR}, #{fieldCode,jdbcType=VARCHAR}, 
      #{fieldValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfig" >
    insert into ipaas_sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableCode != null" >
        table_code,
      </if>
      <if test="fieldCode != null" >
        field_code,
      </if>
      <if test="fieldValue != null" >
        field_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableCode != null" >
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldCode != null" >
        #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null" >
        #{fieldValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfigCriteria" resultType="java.lang.Integer" >
    select count(*) from ipaas_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ipaas_sys_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tableCode != null" >
        table_code = #{record.tableCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldCode != null" >
        field_code = #{record.fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldValue != null" >
        field_value = #{record.fieldValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ipaas_sys_config
    set id = #{record.id,jdbcType=INTEGER},
      table_code = #{record.tableCode,jdbcType=VARCHAR},
      field_code = #{record.fieldCode,jdbcType=VARCHAR},
      field_value = #{record.fieldValue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfig" >
    update ipaas_sys_config
    <set >
      <if test="tableCode != null" >
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldCode != null" >
        field_code = #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null" >
        field_value = #{fieldValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.base.dao.mapper.bo.IpaasSysConfig" >
    update ipaas_sys_config
    set table_code = #{tableCode,jdbcType=VARCHAR},
      field_code = #{fieldCode,jdbcType=VARCHAR},
      field_value = #{fieldValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>