<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.rds.dao.interfaces.RdsResourcePoolMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePool" >
    <id column="resourceid" property="resourceid" jdbcType="INTEGER" />
    <result column="hostip" property="hostip" jdbcType="VARCHAR" />
    <result column="maxport" property="maxport" jdbcType="INTEGER" />
    <result column="minport" property="minport" jdbcType="INTEGER" />
    <result column="currentport" property="currentport" jdbcType="INTEGER" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="sshpassword" property="sshpassword" jdbcType="VARCHAR" />
    <result column="sshuser" property="sshuser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="totalmemory" property="totalmemory" jdbcType="INTEGER" />
    <result column="usedmemory" property="usedmemory" jdbcType="INTEGER" />
    <result column="volumn_path" property="volumnPath" jdbcType="VARCHAR" />
    <result column="tot_int_storage" property="totIntStorage" jdbcType="INTEGER" />
    <result column="used_int_storage" property="usedIntStorage" jdbcType="INTEGER" />
    <result column="cpu" property="cpu" jdbcType="VARCHAR" />
    <result column="net_bandwidth" property="netBandwidth" jdbcType="INTEGER" />
    <result column="used_net_bandwidth" property="usedNetBandwidth" jdbcType="INTEGER" />
    <result column="instancecreatetime" property="instancecreatetime" jdbcType="TIMESTAMP" />
    <result column="instancelastupdatetime" property="instancelastupdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resourceid, hostip, maxport, minport, currentport, cycle, sshpassword, sshuser, status, 
    totalmemory, usedmemory, volumn_path, tot_int_storage, used_int_storage, cpu, net_bandwidth, 
    used_net_bandwidth, instancecreatetime, instancelastupdatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePoolCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from rds_resource_pool
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from rds_resource_pool
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePoolCriteria" >
    delete from rds_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePool" >
    insert into rds_resource_pool (resourceid, hostip, maxport, 
      minport, currentport, cycle, 
      sshpassword, sshuser, status, 
      totalmemory, usedmemory, volumn_path, 
      tot_int_storage, used_int_storage, cpu, 
      net_bandwidth, used_net_bandwidth, instancecreatetime, 
      instancelastupdatetime)
    values (#{resourceid,jdbcType=INTEGER}, #{hostip,jdbcType=VARCHAR}, #{maxport,jdbcType=INTEGER}, 
      #{minport,jdbcType=INTEGER}, #{currentport,jdbcType=INTEGER}, #{cycle,jdbcType=INTEGER}, 
      #{sshpassword,jdbcType=VARCHAR}, #{sshuser,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{totalmemory,jdbcType=INTEGER}, #{usedmemory,jdbcType=INTEGER}, #{volumnPath,jdbcType=VARCHAR}, 
      #{totIntStorage,jdbcType=INTEGER}, #{usedIntStorage,jdbcType=INTEGER}, #{cpu,jdbcType=VARCHAR}, 
      #{netBandwidth,jdbcType=INTEGER}, #{usedNetBandwidth,jdbcType=INTEGER}, #{instancecreatetime,jdbcType=TIMESTAMP}, 
      #{instancelastupdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePool" >
    insert into rds_resource_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        resourceid,
      </if>
      <if test="hostip != null" >
        hostip,
      </if>
      <if test="maxport != null" >
        maxport,
      </if>
      <if test="minport != null" >
        minport,
      </if>
      <if test="currentport != null" >
        currentport,
      </if>
      <if test="cycle != null" >
        cycle,
      </if>
      <if test="sshpassword != null" >
        sshpassword,
      </if>
      <if test="sshuser != null" >
        sshuser,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="totalmemory != null" >
        totalmemory,
      </if>
      <if test="usedmemory != null" >
        usedmemory,
      </if>
      <if test="volumnPath != null" >
        volumn_path,
      </if>
      <if test="totIntStorage != null" >
        tot_int_storage,
      </if>
      <if test="usedIntStorage != null" >
        used_int_storage,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="netBandwidth != null" >
        net_bandwidth,
      </if>
      <if test="usedNetBandwidth != null" >
        used_net_bandwidth,
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime,
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="hostip != null" >
        #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="maxport != null" >
        #{maxport,jdbcType=INTEGER},
      </if>
      <if test="minport != null" >
        #{minport,jdbcType=INTEGER},
      </if>
      <if test="currentport != null" >
        #{currentport,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="sshpassword != null" >
        #{sshpassword,jdbcType=VARCHAR},
      </if>
      <if test="sshuser != null" >
        #{sshuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalmemory != null" >
        #{totalmemory,jdbcType=INTEGER},
      </if>
      <if test="usedmemory != null" >
        #{usedmemory,jdbcType=INTEGER},
      </if>
      <if test="volumnPath != null" >
        #{volumnPath,jdbcType=VARCHAR},
      </if>
      <if test="totIntStorage != null" >
        #{totIntStorage,jdbcType=INTEGER},
      </if>
      <if test="usedIntStorage != null" >
        #{usedIntStorage,jdbcType=INTEGER},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="netBandwidth != null" >
        #{netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="usedNetBandwidth != null" >
        #{usedNetBandwidth,jdbcType=INTEGER},
      </if>
      <if test="instancecreatetime != null" >
        #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePoolCriteria" resultType="java.lang.Integer" >
    select count(*) from rds_resource_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_resource_pool
    <set >
      <if test="record.resourceid != null" >
        resourceid = #{record.resourceid,jdbcType=INTEGER},
      </if>
      <if test="record.hostip != null" >
        hostip = #{record.hostip,jdbcType=VARCHAR},
      </if>
      <if test="record.maxport != null" >
        maxport = #{record.maxport,jdbcType=INTEGER},
      </if>
      <if test="record.minport != null" >
        minport = #{record.minport,jdbcType=INTEGER},
      </if>
      <if test="record.currentport != null" >
        currentport = #{record.currentport,jdbcType=INTEGER},
      </if>
      <if test="record.cycle != null" >
        cycle = #{record.cycle,jdbcType=INTEGER},
      </if>
      <if test="record.sshpassword != null" >
        sshpassword = #{record.sshpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.sshuser != null" >
        sshuser = #{record.sshuser,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.totalmemory != null" >
        totalmemory = #{record.totalmemory,jdbcType=INTEGER},
      </if>
      <if test="record.usedmemory != null" >
        usedmemory = #{record.usedmemory,jdbcType=INTEGER},
      </if>
      <if test="record.volumnPath != null" >
        volumn_path = #{record.volumnPath,jdbcType=VARCHAR},
      </if>
      <if test="record.totIntStorage != null" >
        tot_int_storage = #{record.totIntStorage,jdbcType=INTEGER},
      </if>
      <if test="record.usedIntStorage != null" >
        used_int_storage = #{record.usedIntStorage,jdbcType=INTEGER},
      </if>
      <if test="record.cpu != null" >
        cpu = #{record.cpu,jdbcType=VARCHAR},
      </if>
      <if test="record.netBandwidth != null" >
        net_bandwidth = #{record.netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="record.usedNetBandwidth != null" >
        used_net_bandwidth = #{record.usedNetBandwidth,jdbcType=INTEGER},
      </if>
      <if test="record.instancecreatetime != null" >
        instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instancelastupdatetime != null" >
        instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_resource_pool
    set resourceid = #{record.resourceid,jdbcType=INTEGER},
      hostip = #{record.hostip,jdbcType=VARCHAR},
      maxport = #{record.maxport,jdbcType=INTEGER},
      minport = #{record.minport,jdbcType=INTEGER},
      currentport = #{record.currentport,jdbcType=INTEGER},
      cycle = #{record.cycle,jdbcType=INTEGER},
      sshpassword = #{record.sshpassword,jdbcType=VARCHAR},
      sshuser = #{record.sshuser,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      totalmemory = #{record.totalmemory,jdbcType=INTEGER},
      usedmemory = #{record.usedmemory,jdbcType=INTEGER},
      volumn_path = #{record.volumnPath,jdbcType=VARCHAR},
      tot_int_storage = #{record.totIntStorage,jdbcType=INTEGER},
      used_int_storage = #{record.usedIntStorage,jdbcType=INTEGER},
      cpu = #{record.cpu,jdbcType=VARCHAR},
      net_bandwidth = #{record.netBandwidth,jdbcType=INTEGER},
      used_net_bandwidth = #{record.usedNetBandwidth,jdbcType=INTEGER},
      instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePool" >
    update rds_resource_pool
    <set >
      <if test="hostip != null" >
        hostip = #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="maxport != null" >
        maxport = #{maxport,jdbcType=INTEGER},
      </if>
      <if test="minport != null" >
        minport = #{minport,jdbcType=INTEGER},
      </if>
      <if test="currentport != null" >
        currentport = #{currentport,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="sshpassword != null" >
        sshpassword = #{sshpassword,jdbcType=VARCHAR},
      </if>
      <if test="sshuser != null" >
        sshuser = #{sshuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalmemory != null" >
        totalmemory = #{totalmemory,jdbcType=INTEGER},
      </if>
      <if test="usedmemory != null" >
        usedmemory = #{usedmemory,jdbcType=INTEGER},
      </if>
      <if test="volumnPath != null" >
        volumn_path = #{volumnPath,jdbcType=VARCHAR},
      </if>
      <if test="totIntStorage != null" >
        tot_int_storage = #{totIntStorage,jdbcType=INTEGER},
      </if>
      <if test="usedIntStorage != null" >
        used_int_storage = #{usedIntStorage,jdbcType=INTEGER},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="netBandwidth != null" >
        net_bandwidth = #{netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="usedNetBandwidth != null" >
        used_net_bandwidth = #{usedNetBandwidth,jdbcType=INTEGER},
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcePool" >
    update rds_resource_pool
    set hostip = #{hostip,jdbcType=VARCHAR},
      maxport = #{maxport,jdbcType=INTEGER},
      minport = #{minport,jdbcType=INTEGER},
      currentport = #{currentport,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      sshpassword = #{sshpassword,jdbcType=VARCHAR},
      sshuser = #{sshuser,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      totalmemory = #{totalmemory,jdbcType=INTEGER},
      usedmemory = #{usedmemory,jdbcType=INTEGER},
      volumn_path = #{volumnPath,jdbcType=VARCHAR},
      tot_int_storage = #{totIntStorage,jdbcType=INTEGER},
      used_int_storage = #{usedIntStorage,jdbcType=INTEGER},
      cpu = #{cpu,jdbcType=VARCHAR},
      net_bandwidth = #{netBandwidth,jdbcType=INTEGER},
      used_net_bandwidth = #{usedNetBandwidth,jdbcType=INTEGER},
      instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP}
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </update>
</mapper>